draftsRecover/
backups/
Cache/
Code Cache/                                     
DawnWebGPUCache/
DawnCache/
GPUCache/
Network/
Shared Dictionary/
Session Storage/
Local Storage/
DawnGraphiteCache
lockfile
history.data
typora.log
SharedStorage
SharedStorage-wal
Local State
Preferences
profile.data
typora.log
DIPS
