Cache/*
Code Cache/*
DawnCache/*
draftsRecover/*
Network/*
Local Storage/*
Session Storage/
Storage/*
GPUCache/*
backups/*
Local State
lockfile
DawnGraphiteCache/*
DawnWebGPUCache/*
Shared Dictionary/*
